<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" [routerLink]='["/"]'
          [routerLinkActive]='["active"]'
          [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()'>Home</a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Store</h3>
</div>
