<mat-form-field>
  <input matInput [(ngModel)]="data.name" placeholder="Product name">
</mat-form-field>

<mat-form-field>
  <mat-label>Category</mat-label>
  <mat-select [(ngModel)]="data.category">
    <mat-option *ngFor="let item of data.productCategories" [value]="item.id">{{ item.name }}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button (click)="onNoClick()">No Thanks</button>
<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
