<div class="row">
  <div class="col-md-9 col-md-push-3">

  </div>
  <div class="col-md-3 col-md-pull-9">
    <button type="button" class="btn btn-default navbar-btn" (click)="openDialog()">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Add new product
    </button>
  </div>
</div>

<p *ngIf="!productDataSource"><em>Loading...</em></p>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="productDataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.category.name }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="productDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: productDisplayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="2"
                 [pageSizeOptions]="[2, 4, 6]"
                 [showFirstLastButtons]="false">
  </mat-paginator>
</div>
