<div class="container">

  <app-nav-menu></app-nav-menu>

  <!--<div class="jumbotron">
    <h1>Jumbotron heading</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>-->

  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2019 Company, Inc.</p>
  </footer>

</div> <!-- /container -->


<!--<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
